* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.background {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: green;
}

.car-container {
  position: relative;
  width: 150px;
  height: 150px;
}

.car-image {
  width: 100%;
  position: absolute;
}
